@page "/copydb"
@using Microsoft.AspNetCore.Identity
@using System.Text
@using System.Data
@using System.Diagnostics
@using Telerik.DataSource
@using Telerik.DataSource.Extensions
@using Telerik.FontIcons;
@using Telerik.SvgIcons
@using System.Globalization;
@using System.Resources;
@using Microsoft.Extensions.Localization
@using dxhome2.Components.Layout
@using dxhome2.Locales
@using System.Data.SqlClient
@using Microsoft.Data.SqlClient;
@inject IConfiguration Configuration

@inject IServiceProvider ServiceProvider
@inject IHttpContextAccessor HttpContextAccessor
@inject IJSRuntime JSRuntime
@inject IStringLocalizer<Resources> localizer

<TelerikButton OnClick="@CreateTable">ERP Table 생성</TelerikButton>
<TelerikButton OnClick="@InsertTable">ERP Data 복사</TelerikButton>
<TelerikButton OnClick="@CreateTableSBMS">SBMS Table 생성</TelerikButton>
<TelerikButton OnClick="@InsertTableSBMS">SBMS Data 복사</TelerikButton>
<TelerikButton OnClick="@BOMTest">BOM Test</TelerikButton>

<h4>BOM#=@tCountBom</h4>

@code {
    List<string> gTableNames = new List<string> { 
            "_TSLInvoiceItem", 
            "_TSLInvoice", 
            "_TDAItem", 
            "_TDACust", 
            "_TSLBill",
            "_TSLSalesBillRelation",
            "_TSLSalesItem",
            "_TSLSales",
            "_TDASMinorValue"
    };

    int tCountBom = 0;

    protected override void OnInitialized()
    {
        //_resourceManager = new ResourceManager("DxSystemHome.Resources.DxHome", ServiceProvider.GetService(typeof(DxSystemHome).Assembly));
        //_localizedString = _resourceManager.GetString("DX_T_TITLE", CultureInfo.CurrentCulture);
    }

    async void CreateTable()
    {
        Console.WriteLine("--- Create Table in FST");
        int iNumTables = 0;
        int ix = 0;
        try
        {
            string source_connectionString = Configuration.GetConnectionString("DefaultConnectionSource");
            string target_connectionString = Configuration.GetConnectionString("DefaultConnectionTarget");

            using (SqlConnection sourceConnection = new SqlConnection(source_connectionString))
            {
                await sourceConnection.OpenAsync();
                DataTable tables = sourceConnection.GetSchema("Tables");
                //Console.WriteLine("--- # of Tables = {0}", tables.Rows.Count);

                foreach (DataRow table in tables.Rows)
                {
                    ix++;
                    string tableName = table["TABLE_NAME"].ToString();
                    Console.WriteLine("{0}. Table Name =({1}) ", ix,tableName);

                    if (gTableNames.Contains(tableName) != true)
                        // if (tableName != "_TSLInvoiceItem" && tableName != "_TDAItem" && tableName != "_TDAItem" && tableName != "_TDACust" && tableName != "_TSLBill")
                        continue;

                    Console.WriteLine($"Generating script for table: {tableName}");
                    // Generate CREATE TABLE script for each table
                    string createTableScript = GenerateCreateTableScript(sourceConnection, tableName);
                    Console.WriteLine("Generated Script = <" + createTableScript + ">");

                    // Execute script on target server
                    using (SqlConnection targetConnection = new SqlConnection(target_connectionString))
                    {
                        targetConnection.Open();
                        using (SqlCommand command = new SqlCommand(createTableScript, targetConnection))
                        {
                            iNumTables++;
                            command.ExecuteNonQuery();
                            Console.WriteLine($"Table {tableName} created successfully on target database.");
                        }
                    }
                }
            }

            Console.WriteLine("All tables created successfully! # Tables = " + iNumTables.ToString());
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error during table creation: " + ex.Message);
        }
    }

    async void InsertTable()
    {
        Console.WriteLine("--- Insert Data into Tables in FST");
        int iNum = 0;
        int iTotalTime = 0;
        int iDuration = 0;
        DateTime dtStart = DateTime.Now;

        try
        {
            string source_connectionString = Configuration.GetConnectionString("DefaultConnectionSource");
            string target_connectionString = Configuration.GetConnectionString("DefaultConnectionTarget");

            using (SqlConnection sourceConnection = new SqlConnection(source_connectionString))
            {
                sourceConnection.Open();

                // 모든 테이블 이름 가져오기
                DataTable tables = sourceConnection.GetSchema("Tables");

                int iTotal = tables.Rows.Count;
                Console.WriteLine($"{iTotal} will be created");

                foreach (DataRow row in tables.Rows)
                {
                    dtStart = DateTime.Now;

                    string tableName = row["TABLE_NAME"].ToString();

                    if (gTableNames.Contains(tableName) != true)
                        //if (tableName != "_TSLInvoiceItem" && tableName != "_TDAItem" && tableName != "_TDAItem" && tableName != "_TDACust" && tableName != "_TSLBill")
                        continue;
                    //if (strNotMade.Contains(tableName) != true)
                    //    continue;
                    Console.WriteLine($"Migrating table: {tableName}");

                    // 1) 테이블 데이터 삭제

                    // 테이블 데이터를 읽어오기

                    using (SqlCommand selectCommand = new SqlCommand($"SELECT * FROM {tableName}", sourceConnection))
                    using (SqlDataReader reader = selectCommand.ExecuteReader())
                    {
                        // 타겟 서버에 복사하기
                        using (SqlConnection targetConnection = new SqlConnection(target_connectionString))
                        {
                            targetConnection.Open();

                            //--- target table data 삭제
                            string deleteQuery = $"DELETE FROM {tableName}"; // Query to delete all rows
                            using (SqlCommand command = new SqlCommand(deleteQuery, targetConnection))
                            {
                                int rowsAffected = command.ExecuteNonQuery();
                                Console.WriteLine($"Deleted {rowsAffected} rows from the table {tableName}.");
                            }
                            using (SqlBulkCopy bulkCopy = new SqlBulkCopy(targetConnection))
                            {
                                bulkCopy.BulkCopyTimeout = 600; // 10분으로 제한 시간 설정
                                bulkCopy.DestinationTableName = tableName;
                                bulkCopy.WriteToServer(reader);
                                iNum++;
                            }
                            TimeSpan dtSpan = DateTime.Now - dtStart;
                            Console.WriteLine($"{iNum}. {tableName} data inserted." + dtSpan.ToString() + "Elapsed");
                        }
                    }
                }
            }

            Console.WriteLine(iNum.ToString() + " table data inserted successfully!");
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error during migration: " + ex.Message);
        }
    }

    private string GenerateCreateTableScript(SqlConnection connection, string tableName)
    {
        StringBuilder createTableScript = new StringBuilder();

        // Query to get column information
        string query = $@"
                SELECT COLUMN_NAME, DATA_TYPE, CHARACTER_MAXIMUM_LENGTH, IS_NULLABLE
                FROM INFORMATION_SCHEMA.COLUMNS
                WHERE TABLE_NAME = '{tableName}'";

        using (SqlCommand command = new SqlCommand(query, connection))
        using (SqlDataReader reader = command.ExecuteReader())
        {
            createTableScript.AppendLine($"CREATE TABLE {tableName} (");

            while (reader.Read())
            {
                string columnName = reader["COLUMN_NAME"].ToString();
                string dataType = reader["DATA_TYPE"].ToString();
                string isNullable = reader["IS_NULLABLE"].ToString();
                string nullable = isNullable == "YES" ? "NULL" : "NOT NULL";

                string strMax = reader["CHARACTER_MAXIMUM_LENGTH"].ToString();

                int maxLength = 100;
                if (int.TryParse(reader["CHARACTER_MAXIMUM_LENGTH"].ToString(), out maxLength) && maxLength > 0)
                {
                    createTableScript.AppendLine($"    {columnName} {dataType}({maxLength}) {nullable},");
                }
                else if (int.TryParse(reader["CHARACTER_MAXIMUM_LENGTH"].ToString(), out maxLength) && maxLength == -1)
                {
                    createTableScript.AppendLine($"    {columnName} {dataType}(max) {nullable},");
                }
                else
                {
                    createTableScript.AppendLine($"    {columnName} {dataType} {nullable},");
                }
            }

            // Remove the last comma
            Console.WriteLine("Before remove: " +  createTableScript.ToString());
            createTableScript.Length -= 2;  // 2 or 3
            createTableScript.AppendLine(");");
            Console.WriteLine("After remove + Add: "+ createTableScript.ToString());
        }

        return createTableScript.ToString();
    }

    async void CreateTableSBMS()
    {
        Console.WriteLine("--- Create Table in SBMSPROD");
        int iNumTables = 0;
        int ix = 0;
        try
        {
            string source_connectionString = Configuration.GetConnectionString("DefaultConnectionSourceSBMS");
            string target_connectionString = Configuration.GetConnectionString("DefaultConnectionTargetSBMS");

            using (SqlConnection sourceConnection = new SqlConnection(source_connectionString))
            {
                await sourceConnection.OpenAsync();
                DataTable tables = sourceConnection.GetSchema("Tables");
                Console.WriteLine("--- # of Tables = {0}", tables.Rows.Count);

                foreach (DataRow table in tables.Rows)
                {
                    ix++;
                    string tableName = table["TABLE_NAME"].ToString();
                    Console.WriteLine("{0}. Table Name =({1}) ", ix, tableName);

                    //if (tableName != "_TSLInvoiceItem" && tableName != "_TDAItem" && tableName != "_TDAItem")
                    //    continue;

                    Console.WriteLine($"Generating script for table: {tableName}");
                    // Generate CREATE TABLE script for each table
                    string createTableScript = GenerateCreateTableScript(sourceConnection, tableName);
                    Console.WriteLine("Generated Script = <" + createTableScript + ">");

                    // Execute script on target server
                    using (SqlConnection targetConnection = new SqlConnection(target_connectionString))
                    {
                        targetConnection.Open();
                        using (SqlCommand command = new SqlCommand(createTableScript, targetConnection))
                        {
                            iNumTables++;
                            command.ExecuteNonQuery();
                            Console.WriteLine($"Table {tableName} created successfully on target database.");
                        }
                    }
                }
            }

            Console.WriteLine("All tables created successfully! # Tables = " + iNumTables.ToString());
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error during table creation: " + ex.Message);
        }
    }

    async void InsertTableSBMS()
    {
        Console.WriteLine("--- Insert Data into Tables in SBMSPROD");
        int iNum = 0;
        int iTotalTime = 0;
        int iDuration = 0;
        DateTime dtStart = DateTime.Now;

        try
        {
            string source_connectionString = Configuration.GetConnectionString("DefaultConnectionSourceSBMS");
            string target_connectionString = Configuration.GetConnectionString("DefaultConnectionTargetSBMS");

            using (SqlConnection sourceConnection = new SqlConnection(source_connectionString))
            {
                sourceConnection.Open();

                // 모든 테이블 이름 가져오기
                DataTable tables = sourceConnection.GetSchema("Tables");

                int iTotal = tables.Rows.Count;
                Console.WriteLine($"{iTotal} will be created");

                foreach (DataRow row in tables.Rows)
                {
                    dtStart = DateTime.Now;

                    string tableName = row["TABLE_NAME"].ToString();

                    //if (tableName != "_TSLInvoiceItem" && tableName != "_TDAItem" && tableName != "_TDAItem")
                    //    continue;
                    Console.WriteLine($"Migrating table: {tableName}");

                    // 1) 테이블 데이터 삭제

                    // 테이블 데이터를 읽어오기

                    using (SqlCommand selectCommand = new SqlCommand($"SELECT * FROM {tableName}", sourceConnection))
                    using (SqlDataReader reader = selectCommand.ExecuteReader())
                    {
                        // 타겟 서버에 복사하기
                        using (SqlConnection targetConnection = new SqlConnection(target_connectionString))
                        {
                            targetConnection.Open();

                            //--- target table data 삭제
                            string deleteQuery = $"DELETE FROM {tableName}"; // Query to delete all rows
                            using (SqlCommand command = new SqlCommand(deleteQuery, targetConnection))
                            {
                                int rowsAffected = command.ExecuteNonQuery();
                                Console.WriteLine($"Deleted {rowsAffected} rows from the table {tableName}.");
                            }
                            using (SqlBulkCopy bulkCopy = new SqlBulkCopy(targetConnection))
                            {
                                bulkCopy.BulkCopyTimeout = 600; // 10분으로 제한 시간 설정
                                bulkCopy.DestinationTableName = tableName;
                                bulkCopy.WriteToServer(reader);
                                iNum++;
                            }
                            TimeSpan dtSpan = DateTime.Now - dtStart;
                            Console.WriteLine($"{iNum}. {tableName} data inserted." + dtSpan.ToString() + "Elapsed");
                        }
                    }
                }
            }

            Console.WriteLine(iNum.ToString() + " table data inserted successfully!");
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error during migration: " + ex.Message);
        }
    }

    async void BOMTest()
    {

        string strQuery = $@"WITH MRP_SUM_TRIMMED AS ( 
        SELECT
             COMP_PART_NO,
             ASSY_PART_NO,
             COMP_QTY,
             TB_CD,
             PART_VER,
             LTRIM(RTRIM(COMP_PART_NO)) AS COMP_NO_TRIM,
            LTRIM(RTRIM(ASSY_PART_NO)) AS ASSY_NO_TRIM
        FROM MRP_MST AS M
        JOIN PART_MST AS P ON P.PART_NO = M.COMP_PART_NO
        WHERE MRP_WORK_DT = '202511041552141984013e97254ba156'
            and fsc_Cd = 'FSTC-CMT1H1HM01-153'
            and fsc_ver = '004'
            and P.SECTION_NM = 'Frame'
        GROUP BY COMP_PART_NO, ASSY_PART_NO, COMP_QTY, TB_CD, PART_VER
     )
 ,CTE AS(
     SELECT
     COMP_NO_TRIM, ASSY_NO_TRIM, COMP_QTY, TB_CD, PART_VER,
         1 AS LEVEL,
     CAST(COMP_QTY AS DECIMAL(20, 1)) AS qty_accumulated
     FROM MRP_SUM_TRIMMED
     UNION ALL
     SELECT
         A.COMP_NO_TRIM, B.ASSY_NO_TRIM, B.COMP_QTY, B.TB_CD, A.PART_VER,
     A.LEVEL + 1,
     CAST(A.qty_accumulated * B.COMP_QTY AS DECIMAL(20, 1))
     FROM CTE AS A
     JOIN MRP_SUM_TRIMMED AS B
         ON B.COMP_NO_TRIM = A.ASSY_NO_TRIM
     )
 ,AGG AS(
     SELECT
     L.COMP_NO_TRIM AS COMP_PART_NO,
     SUM(ct.qty_accumulated) AS sumQty,
     ct.PART_VER AS partVer
     FROM CTE ct
     JOIN (
     SELECT DISTINCT COMP_NO_TRIM AS COMP_NO_TRIM
     FROM MRP_SUM_TRIMMED ms
     WHERE NOT EXISTS (
     SELECT 1
         FROM(
     SELECT DISTINCT ASSY_NO_TRIM AS PARENT_NO
     FROM MRP_SUM_TRIMMED
     WHERE ASSY_NO_TRIM IS NOT NULL AND ASSY_NO_TRIM != ''
 ) p
     WHERE p.PARENT_NO = ms.COMP_PART_NO
     )
     )L
     ON L.COMP_NO_TRIM = ct.COMP_NO_TRIM
     WHERE NOT EXISTS(
     SELECT 1
     FROM MRP_SUM_TRIMMED ms
     WHERE ms.COMP_NO_TRIM = ct.ASSY_NO_TRIM
     )
     GROUP BY L.COMP_NO_TRIM, ct.PART_VER
     )
 ,TB_AGG AS(
     SELECT
     a.COMP_PART_NO,
     STUFF((
         SELECT DISTINCT ',' + cd_tb.DESC_KOR
             FROM CTE ct2
         LEFT JOIN CODE_DTL cd_tb
         ON cd_tb.CD_TYPE = 'TB'
             AND cd_tb.CD_DATA = ct2.TB_CD
             WHERE a.COMP_PART_NO = ct2.COMP_NO_TRIM
             FOR XML PATH(''), TYPE
         ).value('.', 'nvarchar(max)'), 1, 1, '') AS tbNm
     FROM AGG a
     )
 SELECT
     a.COMP_PART_NO AS compPartNo,
     a.sumQty,
     t.tbNm,
     a.partVer,
     pm.PART_NM AS partNm,
     (select DESC_KOR from CODE_DTL cd where CD_TYPE = 'BT' AND CD_DATA = pm.BOM_TYPE_CD ) as bomTypeNm,
     pm.SECTION_NM AS sectionNm,
     pm.PART_SPEC AS partSpec,
     pm.MAKER_NM AS makerNm,
     pm.MATERIAL AS material,
     pm.FINISH AS finish,
     pm.OLD_PART_NO AS oldCompPartNo
 FROM AGG a
     JOIN TB_AGG t
     ON t.COMP_PART_NO = a.COMP_PART_NO
     JOIN PART_MST pm
     ON pm.PART_NO = a.COMP_PART_NO
     WHERE NOT EXISTS(SELECT 1 FROM UPGVC_MST um WHERE um.UPGVC_NO = a.COMP_PART_NO)
     ORDER BY a.COMP_PART_NO; ";

        tCountBom = -1; // 임시
        Console.WriteLine("--- BOM Test");

        try
        {
            Stopwatch sw = new Stopwatch();
            sw.Start();

            string source_connectionString = Configuration.GetConnectionString("DefaultConnectionSourceSBMS");

            using (SqlConnection sourceConnection = new SqlConnection(source_connectionString))
            {
                sourceConnection.Open();

                // 테이블 데이터를 읽어오기

                using (SqlCommand selectCommand = new SqlCommand(strQuery, sourceConnection))
                {
                    selectCommand.CommandTimeout = 300; // 5분
                    using (SqlDataReader reader = selectCommand.ExecuteReader())
                    {
                        while (reader.Read())
                        {
                            // 예시: 첫 번째 컬럼 값 읽기
                            var col1 = reader[0];   // index로 읽기
                            var col2 = reader[1];   // 컬럼명으로 읽기

                            Console.WriteLine($"{col1}, {col2}");
                            tCountBom++;
                        }
                    }
                }
            }

            Console.WriteLine("   * End of BOM Test. Count = {0}", tCountBom);
            sw.Stop();
            Console.WriteLine($"Query 실행시간: {sw.ElapsedMilliseconds} ms");
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error during BOM Test: " + ex.Message);
        }
    }


}
